<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Filtro</title>
    </head>
    <body>
        <h1>Filtre as questões!</h1>
        
        <form th:action="@{/home}" method="GET">
        	<select name="tematica">
        		<option th:each="tematica : ${tematicas}" th:value="${tematica.descricao}"  th:text="${tematica.descricao}"></option>      	
        	</select>
        	<input type="submit" value="Enviar">
        </form>        
        
    </body>
</html>