<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <form th:action="@{/login}" method="post">
            <div><label> Email : <input type="text" name="username"/> </label></div>
            <div><label> Senha: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Entrar"/></div>
        </form>        
        <div th:if="${param.error}">
            Verifique o email ou senha.
        </div>
        <div th:if="${param.logout}">
            Você saiu do sistema.
        </div>
    </body>
</html>